<!DOCTYPE html>
<html>
<head>
<title>This is title</title>
</head>
<body>
Hello world

<p> Acesta este primul paragraf. </br>
Aceasta este a doua propozitie din primul paragraf.</p>
<hr/>
<p>Acesta e al doilea paragraf</p>

<h1> Acesta este header 1 </h1>
<h2> Acesta este header 2 </h2>
<h3> Acesta este header 3 </h3>
<h4> Acesta este header 4 </h4>
<h5> Acesta este header 5 </h5>
<h6> Acesta este header 6 </h6>

Lista de Gigei
<ol>
    <li> Gigel1 </li>
    <li> Gigel2 </li>
    <li> Gigel3 </li>
    <li> Gigel4 </li>
    <li> Gigel5 </li>
</ol>

Ce e de facut in carantina?
<ul type="Triangle">
    <li> Mancat corect</li>
    <li> Exercitii fizice</li>
    <li> Citit</li>
    <li> Pastrarea optimismului</li>
</ul>

<p> Exemplu de text <b> ingrosat </b> </p>
<p> Exemplu de text <strong> ingrosat </strong></p>
<p> Exemplu de text <i> inclinat </i></p>
<p> Exemplu de text <em> inclinat </em></p>
<p> Exemplu de text <sup> la putere </sup></p>
<p> Exemplu de text <sub> indice </sub></p>
<p> Exemplu de text <del> taiat </del></p>
<p> Exemplu de text <code> codul nostru cel de toate zilele </code></p>

<a href="https://www.google.ro"> Click here for Google </a> </br>
<a href="https://www.google.ro" target="_blank"> Click here for Google in new tab</a>
</br>
<img src="https://te-fac-programator.ro/images/feature/courses.jpeg" alt="Imagine cu o tipa scriind cod"/></br>
<img src="https://te-fac-programator.ro/images/feature/courses.jpeg" alt="Imagine cu o tipa scriind cod" width="250" height="400"/></br>
<img src="europe_map.jpg" alt="Map of Europe" width="800" height="400"/>
</br>
<a href="https://te-fac-programator.ro" title="Te fac programator" target="_blank">
fdksjbfsdkj
<img src="https://te-fac-programator.ro/images/feature/courses.jpeg" alt="Imagine cu o tipa scriind cod" width="250" height="400"/>
</a>

<form method="post" action="/">
    <label> Nume: </label>
    <input type="text" size="15" maxlength="100" name="name"/></br>
    <label> Parola: </label>
    <input type="password" size="15" maxlength="100" name="password"/></br>
    
    <button type="Submit">Trimite</button>
</form>

<form method="post" action="/">
    <label> Introduceti text aici: </label>
    <textarea cols="20" rows="2"> Text be here </textarea>
    <button type="Submit"> Trimite </button>
</form>

<form method="post" action="/">
<h3> Culoare </h3>
<input type="radio" name="culoare" value="inchis"/> Inchis </br>
<input type="radio" name="culoare" value="deschis"/> Deschis
</br>
<h3> Culoare papuci </h3>
<input type="checkbox" name="papuci" value="roz" class="table"/> Roz </br>
<input type="checkbox" name="papuci" value="fuchsya"/> Fuchsya </br>
<input type="checkbox" name="papuci" value="magenta"/> Magenta </br>
<input type="checkbox" name="papuci" value="turcoaz"/> Turcoaz </br>
</form>

</br>
<form method="post" action="/">
<h3> Alege cea mai smechera echipa </h3>
<select name="Echipa">
    <option>Alege</option>
    <option>Ceahlaul</option>
    <option>Rapid</option>
    <option>Bayer Leverkusen</option>
    <option>Viitorul</option>
</select>
</form>

</br>
<form method="post" action="/">
<h3> Alege cea mai smechera echipa </h3>
<label> Alege fisier:</label>
<input type="file"/>
</form>
</br>
<table border="20" class="table">
    <tr>
        <td> Randul 1 coloana 1 </td>
        <td> Randul 1 coloana 2 </td>
        <td> Randul 1 coloana 3 </td>
    </tr>
    <tr>
        <td> Randul 2 coloana 1 </td>
        <td> Randul 2 coloana 2 </td>
        <td> Randul 2 coloana 3 </td>
    </tr>
</table>

<!-- gfjdngjfdngkjfdsgnksfdjgnsfdkjgnfdkj -->
<!--
<iframe width="900" height="600" src="https://www.youtube.com/embed/8idr1WZ1A7Q?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
-->
<video width="900" height="600" controls>
    <source src="Misu_si_Ionica_manevra_de_craciun_limbaj_licenios_1080p.mp4" type="video/mp4">
</video>
</body>
<style type="text/css">
    p { color : #ff0000}
    .table { 	
        <!--width:200px;-->
        padding: 15px;
        <!--border: 5px solid green;-->
        margin: 15px;
        top: 25px;
        right: 25px;
        position: absolute;
    }
</style>
</html>